appnope==0.1.0
beautifulsoup4==4.5.3
bs4==0.0.1
decorator==4.0.11
ipdb==0.10.1
ipython==7.16.3
ipython-genutils==0.1.0
lxml==4.9.1
OWSLib==0.14.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.7.4
pyproj==1.9.5.1
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
